{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailsvg_tags %}

{% block body_class %}template-test-page{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% comment %} 
SVG Concept Test
{% endcomment %}
{% image page.logo original as logo %}

<img
  src="{{ logo|svg_url }}"
  width="{{ logo.width }}"
  height="{{ logo.height }}"
  alt="{{ logo.alt }}"
/>

{% endblock content %}
